.credentials {
    position: fixed;
    bottom: 15px;
    right: 10px;
    color: snow;
}
#LoginForm .ms-row {
    background-color: #FFFFFF;
    margin: 25px auto
}
.button-form-login{
    background-color: #008481;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2{
    background-color: #F2F2F2;
    padding: 25px;
}
.win-button {
    margin: 15px 5px;
}
